@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    position: relative;
    width: 360px;
    height: 500px;
    background: whitesmoke;
    border-radius: 10px;
    overflow: hidden;   
}

.backimage{
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.backimage img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    transition: 1s;
}

.backimage img:hover{
    transform: scale(1.3);
}

.profileTextImage{
    width: 360px;
    height: 100px;
    display: flex;
    position: relative;
    margin-top: -55px;
    padding-left: 20px;
}

.profileTextImage .foto{
    width: 120px;
    height: 120px;
    border: 4px solid #fff;
    border-radius: 50%;
    overflow: hidden;
}

.profileTextImage .foto img{
    width: 100%;
    height: 100%;
    transition: 0.7s;
    border-radius: 50%;
}

.profileTextImage .foto img:hover{
    transform: scale(1.2);
}

.profileTextImage h2{
    margin-left: 30px;
    margin-top: 65px;
}

.content{
    position: relative;
    margin: auto;
    text-align: justify;
    width: 86%; 
    margin-top: 20px;
    line-height: 1.4em;
    max-height: 180px;
    overflow: auto;
    
}


/*Se o texto a ser inserido for muito grande o overflow:scroll vai aparecer*/
.content::-webkit-scrollbar {
    background: none;
    color: none;
}  

.content::-webkit-scrollbar-thumb {
    background: none;
    width: 10px;
}

.content h4{
    font-weight: 400;
    font-size: 17px;
    padding-bottom: 5px;
    text-indent: 5px;
}

.content p{
    font-size: 15px;
    font-weight: 300;
    text-indent: 20px;
    padding-bottom: 10px;   
}

.socialMedias{  
    width: 220px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialMedias .fab{ 
    cursor: pointer;
    margin: 0px 20px 0px 20px;
    /* top, left, bottom, right */
    font-size: 25px;
    transition: 0.7s;
}

.fa-twitter{
    color:  #00acee;
}
 
.fa-instagram{ 
    color: #8134AF;
}

.fa-youtube{
    color: #c4302b;
}

.fa-whatsapp{
    color:#25D366;
}

.fab:hover{
    transform: scale(1.1);
}


/*Responsive Part ------- Parte responsiva*/
@media screen and (max-width:420px){
    .card{
        border-radius: 0;
        width: 100%;
        height: 100%;
    }

    .backimage img{
        border-radius: 0;
    }

    .content{
        overflow: visible;
        font-size: 18px;
    }

    .socialMedias .fab{
        font-size: 20px;
    }
}

@media screen and (max-width: 290px) {
    .profileTextImage h2{
      margin-left: 10px;
       
    }
}


@media screen and (max-width: 250px) {
    .card{
        border-radius: 0;
        width: 100%;
        height: 100%;
    }
}

/*Cor de seleção dentro do card*/
.card ::selection{
    background: #CA0101;
    background: #754A63;
    color: white;
}








